draft*
.vscode/
.idea/
.vs/
.cache/
*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
*.exp
*.lib
*.pdb
*.gcda
*.gcno
*.gcov
build/
build-*/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
compile_commands.json
.DS_Store
Thumbs.db